/* with modern browsers */
.login-form-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.login-form-inner-container {
    background: #ffffff;
    padding: 50px;
    text-align: center;
    width: 420px;
}