<!-- <div class="form-container">
    <fa id="lock" name="lock" size="5x"></fa>
    <div class="error" *ngIf="error">{{error}}</div>
    <button (click)="googleLogin()" id="google">Login With Google</button>
    <button id="email" routerLink="/email-login">Email</button>
    <a routerLink="/signup" class="alc">No Account? Create one here</a>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-4 align-items-center">
            <div class="card bg-dark card-body mb-2">col-3</div>
        </div>
    </div>
</div>